<div id="main">
  <div>
      My name: <input type="text" id="my-name"> <button id="create-name">Tạo</button>
  </div>
  <form>
    <div class="form-actions">
      <div class="input-group">
        <input placeholder="Type your message here ..." type="text" class="form-control" name="message" />
        <span class="input-group-btn">
          <button class="btn btn-sm btn-info no-radius" type="button">
            <i class="ace-icon fa fa-share"></i>
            Send
          </button>
        </span>
      </div>
    </div>
  </form>
  <hr />
  <div class="dialogs">
    <div class="itemdiv dialogdiv">
      <div class="body">
        <div class="time">
          <i class="ace-icon fa fa-clock-o"></i>
          <span class="green">25/12/2017 13:50:60</span>
        </div>

        <div class="name">
          <a href="#">Alexa</a>
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis.</div>

        <div class="tools">
          <a href="#" class="btn btn-minier btn-info">
            <i class="icon-only ace-icon fa fa-share"></i>
          </a>
        </div>
      </div>
    </div>
</div>

